[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/butterx
[access "refs/for/refs/*"]
	read = group user/butterx
	push = group user/butterx
	label-Code-Review = -2..+2 group user/butterx
	label-Verified = -1..+1 group user/butterx
	rebase = group user/butterx
	removeReviewer = group user/butterx
	submit = group user/butterx
[access "refs/heads/*"]
	read = group user/butterx
	create = group user/butterx
	push = +force group user/butterx
	pushMerge = group user/butterx
	label-Code-Review = -2..+2 group Registered Users
[access "refs/tags/*"]
	push = +force group user/butterx
	pushTag = group user/butterx
	pushSignedTag = group user/butterx
